.text-actualidad {
  color: #2E2E2E;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.text-desc {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  max-width: 850px;
}