<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Redireccionar todo a HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Si el archivo o directorio existe, servirlo directamente
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]

  # De lo contrario, redirigir a index.html (para Angular routing)
  RewriteRule ^(.*) /index.html [NC,L]
</IfModule>
