.conteiner-content {
  background: url('@/assets/bg-hero-instituto.webp') center/cover no-repeat;

  height: 65dvh;
  position: relative;
  
  gap: 12px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: 1;
  }
}