.conteiner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background: url('@/assets/bg-index.webp') center/cover no-repeat;

  height: 75dvh;
  max-height: 75dvh;
  position: relative;
  
  overflow: hidden;
  
  z-index: 1;

  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(10, 52, 88, 0.75);
    z-index: 0;
  }
}

.text-content-1 {
  color:#E9E9E9;
  font-size: 64px;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  width: fit-content;
}

.text-content-2 {
  color: #EB840F;
  font-size: 64px;
  font-weight: 700;
  z-index: 2;

  width: fit-content;
}

.text-content-3 {
  color: #E9E9E9;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;

  width: fit-content;

  max-width: 500px;
  text-align: center;
}