<footer class="flex flex-col border border-[#DDDDDD]">
  <div class="flex flex-row justify-around p-[24px] border-b border-[#DDDDDD]">
    <div class="flex flex-col gap-[40px]">
      <div class="flex flex-col gap-[12px]">
        <p class=" font-bold text-3xl text-[#2E2E2E]">IFTS N.°14</p>
        <p class="font-base text-lg text-[#2E2E2E]">Instituto de Formación Técnica Superior</p>
        <div class="flex flex-row gap-[12px]">
          <img src="/assets/logos/whatsapp.webp" alt="Whatsapp" width="24px" height="24px">
          <img src="/assets/logos/instagram.webp" alt="Instagram" width="24px" height="24px">
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-[32px]">
      <div class="flex flex-col gap-[12px]">
        <p class="text-[#0F4C81] text-xl font-semibold">Educación</p>
        <div class="flex flex-col gap-2">
          <p class="text-[#2E2E2E] text-base cursor-pointer hover:font-semibold easy-in-out duration-300"
            routerLink="/tecnicaturas">Tecnicaturas</p>
          <p class="text-[#2E2E2E] text-base cursor-pointer hover:font-semibold easy-in-out duration-300"
            routerLink="/profesores">Profesores</p>
        </div>
      </div>
      <div class="flex flex-col gap-[12px] w-[190px]">
        <p class="text-[#0F4C81] text-xl font-semibold">Instituto</p>
        <div class="flex flex-col gap-2">
          <p class="text-[#2E2E2E] text-base cursor-pointer hover:font-semibold easy-in-out duration-300"
            routerLink="/instituto">Sobre nosotros</p>
          <p class="text-[#2E2E2E] text-base cursor-pointer hover:font-semibold easy-in-out duration-300"
            routerLink="/privacidad-politica">Politica de privacidad</p>
          <a class="text-[#2E2E2E] text-base cursor-pointer hover:font-semibold easy-in-out duration-300"
            href="https://maps.app.goo.gl/J3ns8FAoQnaVKkgr8" target="_blank" rel="noopener noreferrer">Sede IFTS N.°14</a>
        </div>
      </div>
      <div class="flex flex-col gap-[12px]">
        <p class="text-[#0F4C81] text-xl font-semibold">Contacto</p>
        <div class="flex items-center gap-2">
          <svg class="w-[16px] h-[16px] text-[#0F4C81]" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 8l7.89 5.26a2 2 0 0 0 2.22 0L21 8M4 6h16a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
          </svg>
          <p class="text-[#2E2E2E] text-base">bedelia.its14@bue.edu.ar</p>
        </div>
        <div class="flex items-center gap-2">
          <svg class="w-[16px] h-[16px] text-[#0F4C81]" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 8l7.89 5.26a2 2 0 0 0 2.22 0L21 8M4 6h16a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
          </svg>
          <p class="text-[#2E2E2E] text-base">academia.ifst14@bue.edu.ar</p>
        </div>
        <div class="flex items-center gap-2">
          <svg class="w-[16px] h-[16px] text-[#0F4C81]" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 8l7.89 5.26a2 2 0 0 0 2.22 0L21 8M4 6h16a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
          </svg>
          <p class="text-[#2E2E2E] text-base">dfts_ifts_de1@bue.edu.ar</p>
        </div>
      </div>
    </div>
  </div>
  <p class="flex justify-center text-[#555555] text-sm p-[8px]">Copyright © 2025 IFTS N.° 11 | Zavaleta 204 - Parque
    Patricios</p>
</footer>